include ../layout/main-template

  include ../includes/header

  main.page__main
    section
      h3 Section 1
      p Lorem ipsum dolor sit amet.
    section
      h3 Section 2
      p Praesentium cum rerum consectetur atque.
    section
      h3 Section 3
      p Architecto et sit optio aliquam.

  include ../includes/footer

